body {
  background-color: black;
  font-family: monospace;
  color: #848484;
  font-size: 14px;
}

a:link {
  color: #088A08;
}

a:visited {
  color: #B40486;
}

#logo {
  color: #DF3A01;
  display: inline-block;

}
#logowrapper {
  text-align: center;
}

#bottom-bar {
    background: #00AA00;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1em;
    height: 1.3em;
    color: black;
}
#bottom-bar-content {
  
}

#left-bottom-panel { 
  display: inline-block;
  height: 1.3em;
  background: #AA5500;
  max-width: 1.7em;
  padding-left: 1em;
  padding-right: 1em;
}

#hostname-bottom-panel {
  display: inline-block;
  height: 1.3em;
}
#active-bottom-panel {
  display: inline-block;
  height: 1.3em;
  background: #AA0000;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#date-clock-bottom-panel {
  display: inline-block;
  float: right;
  height: 1.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#prompt {
  font-weight: bold;
}
#prompt-user-at-host {
  color: #349E34;
}
#prompt-path {
  color: #4747D4;
}
#date-span {
  color: #000099;
}
#command {
  color: white;
  font-weight: bold;
}

#filename {
  color: #009999;
}
.blinking-cursor {
  font-weight: 100;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #848484;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #848484;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #848484;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #848484;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #848484;
  }
}

#fake-prompt {
}